{{- $root := . }}
{{- $default_policy := default $root.Env.AUTH_DEFAULT_POLICY "deny" }}
---
access_control:
  default_policy: {{ $default_policy }}
  rules:
{{- range $domain, $domain_services := groupByLabel $root "authelia.acl.domain" }}
    {{- range $container := $domain_services }}
        {{- range $label, $value := $container.Labels }}
            {{- if hasPrefix "authelia.acl.user." $label }}
                {{- $subject := list "user" (replace $label "authelia.acl.user." "" 1) | join ":" }}
                {{- $acl := dict "domain" $domain "policy" $value "subject" $subject }}
    - {{ $acl | toJson }}
            {{- end }}
        {{- end }}
        {{- range $label, $value := $container.Labels }}
            {{- if hasPrefix "authelia.acl.group." $label }}
                {{- $subject := list "group" (replace $label "authelia.acl.group." "" 1) | join ":" }}
                {{- $acl := dict "domain" $domain "policy" $value "subject" $subject }}
    - {{ $acl | toJson }}
            {{- end }}
        {{- end }}
        {{- range $label, $value := $container.Labels }}
            {{- if hasPrefix "authelia.acl.network." $label }}
                {{- $network := replace $label "authelia.acl.network." "" 1 }}
                {{- $acl := dict "domain" $domain "policy" $value "networks" (list $network) }}
    - {{ $acl | toJson }}
            {{- end }}
        {{- end }}
        {{- range $label, $value := $container.Labels }}
            {{- if eq "authelia.acl.default" $label }}
                {{- $acl := dict "domain" $domain "policy" $value }}
    - {{ $acl | toJson }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
